*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}


@font-face {
	font-family: 'Poppins';
	src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

body {
	font-family: 'Poppins';
}

footer{
	background-color: #2E2F3B;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	padding: 50px;
}

.footerIcons img{
	margin:  20px;
}

.menu{
	background-color: white;
	height: 75px;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menuItems{
	display: flex;
	list-style: none;
	margin-right:30px ;
}

.menuItems li{
	border-radius: 5px ;
	margin: 0 5px;
}
.menuItems li a{
	padding: 7px 13px;
	text-decoration: none;
	display: block;
	color: #333333;
	font-size: 14px;
}
.menuItems li:hover, li.active {
	background-color: rgba(0, 0, 0, 0.3);
	transition: .4s;

}
.navLogo{
	width: 150px;
	margin: 0 40px;
}

.btn_menu{
	margin-right: 30px;
	font-size: 16px;
	color:#333333;
	cursor: pointer;
	display: none;
}

ul.show{
	top: 65px;
}

/*Home*/



.heroSection{

	background-image: url(../assets/img/hero-home.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 580px;
	color: white;
}

.heroText{

	display: flex;
	flex-direction: column;
	align-items: center;
	padding:150px;
	gap: 24px;

}

.heroText h1{
	font-size: 48px;
}
.heroText p{
	font-size: 18px;
}

.heroText a{
	background-color: #9B867B;
	color: white;
	font-size: 16px;
	padding: 10px 40px;
	border-radius: 10px;
	font-weight: 600;

}


.textSection{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 60px;
}

.textSection div {
margin: 60px;
}


.textTitle{
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 24px;
}

.textDescription {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 32px;
}

.textSection a {
	background-color: #9B867B;
	color: white;
	font-size: 16px;
	padding: 10px 40px;
	border-radius: 10px;

}

.featureSection{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	color: white;
}

.featureSection div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #302E3C;
	padding: 30px;
	margin: 40px;
	width: 309px;
	height: 319px;
	border-radius: 20px;
}

.featureSection img{
	width: 60px;
	margin: 30px;
}

.featureSection p{
	font-family: 16px;
	text-align: center;

}

.serviceSection h2{
	display: flex;
	justify-content: center;
	font-size: 48px;
	margin: 56px 0;
}

.serviceBg {
	background-image: url(../assets/img/image2-home.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 510px;
	color: white;
}

.serviceText{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 24px;
	position: absolute;
	margin: 115px;
	width: 430px;
}

.serviceText h3{
	font-size: 32px;
}

.serviceText a{
	background-color: #FFFFFF;
	color: #302E3C;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 10px;
	width: 120px;
	font-weight: 600;
	display: flex;
	justify-content: center;
}

.contactSection{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0;


}

.contactSection h1{
	font-size: 48px;
	font-weight: 600px;
	margin: 0 32px;
}


.contactSection p{
	font-size: 16px;
	font-weight: 400px;
	margin-bottom: 32px;
}
.formContact{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 32px;
}

.formContact div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

.formContact label{
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 14px;
}

.formContact input{
	background-color: none;
	border-radius: 10px;
	border: 1px solid #333333;
	width: 750px;
	height: 40px;
	margin-bottom: 20px;
	padding: 5px 10px;
}
.formContact textarea{
	border-radius: 10px;
	border: 1px solid #333333;
	width: 750px;
	height: 100px;
}

.formContact a {

	background-color: #9B867B;
	border-radius: 10px;
	border: none;
	color: white;
	font-size: 16px;
	padding: 8px 42px;
	width: 100px;
	font-weight: 600;
	display: flex;
	justify-content: center;
}

/*Quienes Somos*/




.titlePage{
	display: flex;
	justify-content: center;
	font-size:48px;
	color: #9B867B;
	margin: 60px 0;
}

.sectionHistory{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sectionHistory img{
	width: 50%;
}

.textHistory {
	margin: 40px;
	padding: 50px;
}

.textHistory h2{
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 24px ;
}

.textHistory p{
	font-size: 16px;
	
}

.sectionPurpose{
	display: flex;
	flex-direction: row ;
	margin: 120px ;
}

.textPurpose{
	border: 4px solid #9B867B;
	border-radius: 20px;
	padding: 60px;
	margin: 0 40px;
}

.textPurpose h3{
	font-size: 32px;
	margin-bottom: 16px;
	font-weight: 600;
}

.sectionTeam{
	margin: 0 100px;

}

.sectionTeam h2{
	display: flex;
	justify-content: center;
	font-size:40px;
	margin-bottom: 56px;
}

.infoTeam{
	display: grid;
	grid-template-columns:repeat(3, 1fr);
	text-align: center;
}

.infoTeam div{
	margin-bottom: 32px;
}

.infoTeam img{
	border-radius: 70px;
	margin-bottom: 18px;
}

.infoTeam h4{
	font-size: 16px;
	font-weight: 500 ;
}


.infoTeam p{
	font-size: 14px;
	font-weight: 400;
}


/*Servicios*/



.sectionDesign{
	background-image: url(../assets/img/bg-service.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 490px;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.textDesign {
	margin: 0 80px;
}

.textDesign h2{
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 24px;
}

.textDesign p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 24px;
}

.textDesign a{
	background-color: #FFFFFF;
	color: #302E3C;
	font-size: 16px;
	padding: 10px 40px;
	border-radius: 10px;
	width: 200px;
	font-weight: 600;
}

.sectionProcess{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 120px;
	align-items: center;
}
.sectionProcess img{
	width: 40%;
}

.textProcess{
	padding: 50px;
	margin: 0 50px;
}

.textProcess h2{
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 24px;
}

.textProcess p{
	font-size: 16px;
	font-weight: 400;
}

.sectionGalery{
	margin: 90px;
	text-align: center;
}
.sectionGalery h2{
	font-size: 32px;
	margin-bottom: 40px;
	font-weight: 600;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Materiales y Servicios */

.materialsCards {

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 50px;
}

.materialsCards div{
	background-color: white;
	margin: 40px;
	padding:16px;
	border-radius: 20px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.materialsCards img {
	margin-bottom: 20px;
	width: 100%;
}

.materialsCards h2{
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 12px;
}

.materialsCards p{
	font-size: 16px;
	font-weight: 400;
	padding: 0 24px;
	text-align: center;
}

/*Contacto*/

.contactPage{
	background-image: url(../assets/img/bg-contact.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contactText{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 60px;
}

.contactText h1{
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 24px;
}

.contactText p{
	font-size: 16px;
	font-weight: 400;
}

.contactForm{
	margin: 60px;
}


.contactForm div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

.contactForm label{
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 14px;
}

.contactForm input ,textarea{

	background: transparent;
	border-radius: 10px;
	border: 1px solid #ffffff;
	width: 750px;
	height: 40px;
	margin-bottom: 20px;
	padding: 5px 10px;
}

.contactForm a{

	background-color: #ffffff;
	border-radius: 10px;
	border: none;
	color:  #2E2F3B;
	font-size: 16px;
	padding: 8px 42px;
	width: 100px;
	font-weight: 600;
	display: flex;
	justify-content: center;
}



/* Mediaqueries */

@media screen and (max-width: 952px) {
	.navLogo{
		width: 18px;
		padding-left: 15px;
	}
	.menuItems li a {
		font-size: 16px;
	}
  }

@media screen and (max-width: 768px) {
	.menu{
		height: 65px;
	}
	.btn_menu{
		display: inline-flex;
	}
	.menuItems{
		position: fixed;
		width: 100vw;
		height: calc(100% - 65px);
		background: #333333;
		top: -100vh;
		text-align: center;
		transition: all .4s;
		flex-direction: column;
	}
	.menuItems li{
		margin: 30px 0 0 0;
		line-height: 30px;
	}
	.menuItems li:hover{
		background: none;
	}
	.menuItems li a{
		font-size: 20px;
		color: #ffffff;
		font-weight: bold;
	}
	.menuItems li a:hover{
		color: #717171;
	}
	.navLogo{
		width: 150px;
	}	
  }
@media screen and (max-width: 768px) and (orientation: landscape) {
	.menuItems li{
		margin: 5px 0 0 0;
	}
	.menuItems{
		overflow: scroll;
		height: calc(100% - 65px);
	}
}

@media only screen and (max-width: 375px){

	/* Media 375px Home */

	.heroSection{
		background-image: url(../assets/img/hero-home-mobile.png);
		height: 680px;
	}
	.heroText{
		padding:100px 16px;
		text-align: center;
	}
	.heroText h1{
		font-size: 32px;
	}
	.textSection{
		flex-direction: column;
		margin: 16px;
	}
	.textSection div{
		margin: 40px 16px;
		text-align: center;
		
	}
	.textTitle{
		font-size: 32px;
	}

	.featureSection{
		grid-template-columns: 1fr ;
	}
	.featureSection div{
		padding: 16px;
		margin: 16px 40px;
		width: 250px;
		height: 300px;
	}
	.serviceBg{
		background-image: url(../assets/img/image2-home-mobile.png);
		height: 580px;
	}
	.serviceSection h2{
		font-size: 32px;
	}

	.serviceText{
		text-align: center;
		margin:100px 16px ;
		width: auto;
		align-items: center;
	}
	.serviceText h3{
		font-size: 32px;
	}
	.contactSection{
		margin: 60px 16px;
		text-align: center;
	}
	.contactSection h1{
		font-size: 32px;
		margin-bottom: 12px;
	}

	.formContact input{
		width: 300px;
		height: 40px;
	}
	.formContact textarea {
		width: 300px;
	}
	footer{
		flex-direction: column;
	}
	 footer div{
		margin-bottom: 16px;
	 }

	 /* Media 375px  Quienes somos */

	 .titlePage{
		font-size: 24px;
		margin:  32px 0;
	 }

	.sectionHistory{
		flex-direction: column;
		align-items: center;
	}
	.sectionHistory img{
		width: 90%;
	}
	.textHistory {
		margin: 16px;
		padding: 16px;
		text-align: center;
	}
	
	.textHistory h2{
		font-size: 32px;
	}
	.sectionPurpose{
		flex-direction: column;
		margin: 24px ;
	}
	.textPurpose{
		padding: 32px;
		margin: 32px 0;
	}
	.textPurpose h3{
		font-size: 28px;
	}
	
	.sectionTeam{
		margin: 60px 24px;
	
	}

	.sectionTeam h2{

		font-size:32px;
		margin-bottom: 56px;
	}
	
	.infoTeam{
		grid-template-columns:repeat(2, 1fr);
	}
	.infoTeam div{
		margin-bottom: 32px;
	}
	
	.infoTeam img{
		border-radius: 70px;
		width: 110px;
	}
	
	.infoTeam h4{
		font-size: 14px;
	}
	

	.infoTeam p{
		font-size: 12px;
		font-weight: 400;
	}

	 /*  Media 375px Servicios */

	 .sectionDesign{
		background-image: url(../assets/img/bg-service-mobile.png);
		grid-template-columns: 1fr;
		width: 100%;
		height: 480px;
	 }
	 .textDesign {
		margin: 120px 32px;
		text-align: center;
	}
	
	.textDesign h2{
		font-size: 32px;
	}	
	.textDesign p {
		font-size: 16px;
		margin-bottom: 32px;
	}
	 .sectionProcess{
		flex-direction: column;
		margin: 40px 16px;
	 }
	 .sectionProcess img{
		width:375px;
	 }
	 .textProcess{
		padding: 24px;
		margin: 18px 8px;
		text-align: center;
	 }
	 .textProcess h2{
		font-size: 32px;
	}

	.sectionGalery{
		margin: 16px;
	}

	 /* Media 375px Materiales */

	.materialsCards {
		grid-template-columns:1fr;
		margin: 16px;
	}
	.materialsCards div{
		margin: 12px;
		padding:12px;
		width: 85%;
	}

	 /* Media 375px Contacto */


	.contactPage{
		background-image: url(../assets/img/bg-contact-mobile.jpg);
		grid-template-columns: 1fr ;
		width: 100%;
	}
	.contactText{
		margin: 30px;
		text-align: center;
	}
	
	.contactText h1{
		font-size: 24px;
		margin-bottom: 16px;
	}
	
	.contactForm{
		margin:0 24px 60px 24px;
		width: 100%;
	}
	
	.contactForm input ,textarea{
		width: 320px;
		height: 40px;
		margin-bottom: 20px;
		padding: 5px 10px;
	}

}