@import "colors";
@import "fonts";
@import "mixins";

*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

.body{
    a{
        text-decoration: none;
    }
}

footer{
	background-color:$colorBackground;
	color: $white;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	padding: 50px;
}
.footerIcons{
    img{
        margin:  20px;  
    }
}

.menu{
	background-color:$white;
	height: 75px;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menuItems{
    display: flex;
	list-style: none;
	margin-right:30px;
    li{
        border-radius: 5px ;
        margin: 0 5px;   
    }
    a{
        padding: 7px 13px;
        text-decoration: none;
        display: block;
        color: $colorBackground;
        font-size: 14px;  
    }
    li:hover, li.active{
        background-color: rgba(0, 0, 0, 0.3);
	    transition: .4s;
    }
}
.navLogo{
	width: 150px;
	margin: 0 40px;
}
.btn_menu{
	margin-right: 30px;
	font-size: 16px;
	color:$colorBackground;
	cursor: pointer;
	display: none;
}
ul.show{
	top: 65px;
}

.heroSection{
	background-image: url(../assets/img/hero-home.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 580px;
	color:$white;
}

.heroText{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:150px;
	gap: 24px;
    h1{
     font-size: 48px; 
    }
    p{
        font-size: 18px; 
    }
   a{
   @include primaryButton;
   }
}

.textSection{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 60px;
    div{
        margin: 60px;
    }
    h1{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 24px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 32px; 
    }
    a{
       @include primaryButton;
    }
}
.featureSection{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	color: white;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $colorPrimary;
        padding: 30px;
        margin: 40px;
        width: 309px;
        height: 319px;
        border-radius: 20px; 
    }
    img{
        width: 60px;
        margin: 30px;  
    }
    p{
        font-family: 16px;
	    text-align: center;
    }
}

.serviceSection{
    h2{
        display: flex;
        justify-content: center;
        font-size: 48px;
        margin: 56px 0;  
    }
}
.serviceBg{
    background-image: url(../assets/img/image2-home.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 510px;
	color: $white;
    div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;
        position: absolute;
        margin: 115px;
        width: 430px;   
    }
    h3{
        font-size: 32px; 
    }
    a{
        @include secondaryButton;
    }
}

.contactSection{
    display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0;
    h1{
        font-size: 48px;
        font-weight: 600px;
        margin: 0 32px;   
    }
    p{
        font-size: 16px;
	    font-weight: 400px;
	    margin-bottom: 32px;
    }
}

.formContact{
    display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 32px;
    div{
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    } 
    label{
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 14px; 
    } 
    input{
        background-color: none;
	    border-radius: 10px;
	    border: 1px solid $colorPrimary;
	    width: 750px;
	    height: 40px;
	    margin-bottom: 20px;
    }
    textarea{
        border-radius: 10px;
	    border: 1px solid $colorPrimary;
	    width: 750px;
	    height: 100px;
    }
    a{
        @include primaryButton;
        margin-top: 30px;
    }
}

.titlePage{
	display: flex;
	justify-content: center;
	font-size:48px;
	color: #9B867B;
	margin: 60px 0;
}

.sectionHistory{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    img{
        width: 50%;  
    }
    div{
        margin: 40px;
        padding: 50px;  
    }
    h2{
        font-size: 40px;
	    font-weight: 600;
	    margin-bottom: 24px ;
    }
    p{
        font-size: 16px;
    }
}

.sectionPurpose{
	display: flex;
	flex-direction: row ;
	margin: 120px;
    div{
        border: 4px solid #9B867B;
        border-radius: 20px;
        padding: 60px;
        margin: 0 40px; 
    }
    h3{
        font-size: 32px;
        margin-bottom: 16px;
        font-weight: 600; 
    }
}

.sectionTeam{
    margin: 0 100px;
    h2{
        display: flex;
        justify-content: center;
        font-size:40px;
        margin-bottom: 56px; 
    }
}

.infoTeam{
    display: grid;
	grid-template-columns:repeat(3, 1fr);
	text-align: center;
    div{
        margin-bottom: 32px;  
    }
    img{
        border-radius: 70px;
        margin-bottom: 18px; 
    }
    h4{
        font-size: 16px;
        font-weight: 500 ; 
    }
    p{
        font-size: 14px;
        font-weight: 400; 
    }
} 

.sectionDesign{
    background-image: url(../assets/img/bg-service.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 490px;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.textDesign{
    margin: 0 80px;
    h2{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 24px; 
    }
    p{
        font-size: 16px;
	    font-weight: 400;
	    margin-bottom: 24px;
    }
    a{
        @include secondaryButton;
    }
}
.sectionProcess{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 120px;
	align-items: center;
    
    img{
        width: 40%; 
    }
    div{
        padding: 50px;
        margin: 0 50px; 
    }
    h2{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 24px;  
    }
    p{
        font-size: 16px;
        font-weight: 400; 
    }
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 90%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:$colorSecondary;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.sectionGalery{
    margin: 90px;
	text-align: center;
    h2{
        font-size: 32px;
        margin-bottom: 40px;
        font-weight: 600;  
    }
}



.materialsCards{
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 50px;

    div{
      @include cards;
      text-align: center;
      padding: 24px;  
    }
    img{
        margin-bottom: 20px;
        width: 100%;  
    }
    h2{
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 12px;  
    }
    p{
        font-size: 16px;
        font-weight: 400;
        padding: 0 24px;
    }  
 }
/*Contacto*/

.contactPage{
    background-image: url(../assets/img/bg-contact.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr; 

    .contactText{
        display: flex;
	    flex-direction: column;
	    justify-content: center;
        margin: 40px;
        h1{
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 24px;  
        }
        p{
            font-size: 16px;
            font-weight: 400;  
        }
    }
    .contactForm{
        margin: 40px;
        div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;  
        }
        label{
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 14px;
        }
        input ,textarea{
            background: transparent;
            border-radius: 10px;
            border: 1px solid #ffffff;
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            padding: 5px 10px;
    
        }
        a{
            @include secondaryButton;
            padding: 8px 42px;
        }
    
    }
}

/*Mediaqueries*/

@media screen and (max-width: 952px) {
	.navLogo{
		width: 18px;
		padding-left: 15px;
	}
	.menuItems li a {
		font-size: 16px;
	}
  }

  @media screen and (max-width: 858px){
    .menu{
		height: 65px;
	}
	.btn_menu{
		display: inline-flex;
	}
    .menuItems{
        z-index: auto;
		position: fixed;
		width: 100vw;
		height: calc(100% - 65px);
		background:$colorPrimary;
		top: -100vh;
		text-align: center;
		transition: all .4s;
		flex-direction: column;
        
        li{
            margin: 30px 0 0 0;
            line-height: 30px;  
            a{
                font-size: 20px;
                color: #ffffff;
                font-weight: bold;  
            }
            a:hover{
                color: $colorSecondary; 
            }
        }
        li:hover{
            background: none;  
        }      
    }
    .navLogo{
		width: 150px;
	}	
} 

@media screen and (max-width: 858px) and (orientation: landscape){
    .menuItems{
        overflow: scroll;
		height: calc(100% - 65px);
        li{
            margin: 5px 0 0 0;
        }
    }
}

@media only screen and (max-width: 768px){
    .heroSection{
		background-image: url(../assets/img/hero-home-mobile.png);
		height: 680px;
	} 
    .heroText{
		padding:100px 16px;
		text-align: center;
        h1{
            font-size: 32px;
        }
	}
    .textSection{
		flex-direction: column;
		margin: 16px;
        div{
            margin: 40px 16px;
            text-align: center; 
        }
        h1{
            font-size: 32px;
        }
	}
    .featureSection{
		grid-template-columns: 1fr;
        justify-items: center;
        div{
            padding: 16px;
		    margin: 16px 40px;
		    width: 250px;
		    height: 300px;
        }
	}
    .serviceSection{
        h2{
            font-size: 32px;
        }
	}
    .serviceBg{
		background-image: url(../assets/img/image2-home-mobile.png);
		height: 580px;
        div{
            text-align: center;
		    margin:100px 16px ;
		    width: auto;
		    align-items: center;
        }
        h3{
            font-size:32px ;
        }
	}
    .contactSection{
		margin: 60px 16px;
		text-align: center;
        h1{
            font-size: 32px;
            margin-bottom: 12px; 
        }
	}
    .formContact{
        input{
            width: 300px;
            height: 40px; 
        }
        textarea{
            width: 300px;
        }   
    }
    footer{
        flex-direction: column;
        div{
            margin-bottom: 16px;
        }
    }

    .titlePage{
        font-size: 32px;
		margin:  32px 0;  
    }
    .sectionHistory{
        flex-direction: column;
		align-items: center; 
        div{
          margin: 16px;
          padding: 8px;
          text-align: center;  
        }
        h2{
            font-size: 24px;
        } 
        img{
            width: 90%;  
        }   
    }
    .textHistory{
        margin: 16px;
		padding: 16px;
		text-align: center;
        h2{
            font-size: 32px;
        }
    }
    .sectionPurpose{
        flex-direction: column;
		margin: 24px;
        div{
            padding: 32px;
            margin: 32px 0;  
        }
        h3{
            font-size: 28px;
        }
    }
    .sectionTeam{
        margin: 60px 24px;
        h2{
            font-size:32px;
            margin-bottom: 56px;  
        }
    }
    .infoTeam{
        grid-template-columns:repeat(2, 1fr);
        div{
            margin-bottom: 32px;  
        } 
        img{
            border-radius: 70px;
            width: 110px;   
        } 
        h4{
            font-size: 14px; 
        }
        p{
            font-size: 12px;
            font-weight: 400; 
        }
    }
    .sectionDesign{
		background-image: url(../assets/img/bg-service-mobile.png);
		grid-template-columns: 1fr;
		width: 100%;
		height: 480px;
	 }
     .textDesign{
        margin: 70px 32px;
		text-align: center; 
        h2{
            font-size: 32px; 
        }
        p{
            font-size: 16px;
            margin-bottom: 32px; 
        }
     }
     .sectionProcess{
		flex-direction: column;
		margin: 40px 16px;
        div{
            padding: 24px;
            margin: 18px 8px;
            text-align: center;
        }
        h2{
            font-size: 32px;  
        }
        img{
            width:375px;  
        }
	 }
     .sectionGalery{
        margin: 16px;
     }
     .materialsCards{
        grid-template-columns:1fr;
        justify-items: center;
		margin: 16px;
        div{
            margin: 12px;
            padding:12px;
            width: 85%; 
        }
     }
     .contactPage{
		background-image: url(../assets/img/bg-contact-mobile.jpg);
		grid-template-columns: 1fr;
	}
    .contactText{
		text-align: center;
        h1{
            margin-bottom: 16px;   
        }
    }
    .contactForm{
        margin: 32px;
        input{
		    height: 30px;
		    margin-bottom: 20px;
		    padding: 5px 10px;
        } 
    }
}